@tailwind preflight;

@tailwind components;

@tailwind utilities;

@import "themes/light";
@import "themes/dark";
@import "components/card";
@import "components/link";
@import "components/button";

body, a {
  @apply .text-default;
}

html, body {
  height: 100%;
}

#app {
  height: auto;
  min-height: 100%;
}

