.theme-dark {
  --page-background-color: black;
  --card-background-color: #4A4A4A;
  --text-default-color: #f1f5f8;
  --header-background-color: white;
  --sidebar-background-color: #1f9d55;
  --text-accent-color: white;
}