.theme-isu {
  --page-background-color: #C8102E;
  --card-background-color: #9B945F;
  --text-default-color: black;
  --header-background-color: #F1BE48;
  --sidebar-background-color: #F1BE48;
  --text-accent-color: #003D4C;
}