.theme-light {
  --page-background-color: #F5F6F9;
  --card-background-color: white;
  --text-default-color: #606f7b;
  --header-background-color: black;
  --sidebar-background-color: #51d88a;
  --text-accent-color: black;
}